<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<connectionStrings>
		<add name="GrlLibCon" connectionString="Data Source=SQL5005.Smarterasp.net;Initial Catalog=DB_9C4F25_GrlLibrary;User Id=DB_9C4F25_GrlLibrary_admin;Password=02040051616Hadil"/>
		<!-- <add name="GrlLibCon" connectionString="Data Source=AMIR-PC;Initial Catalog=GrlLibrary;Integrated Security=True"/> -->
	</connectionStrings>
</configuration>
