USE [master]
GO
/****** Object:  Database [BlogDB]    Script Date: 10/15/2011 21:36:15 ******/
CREATE DATABASE [BlogDB] ON  PRIMARY 
( NAME = N'BlogDB', FILENAME = N'D:\BlogDB.mdf' , SIZE = 3072KB , MAXSIZE = 102400KB, FILEGROWTH = 1024KB ),
FILEGROUP [FGNEW]
( NAME = N'FGNEW',
FILENAME = N'D:\FGNEW.ndf' ,SIZE = 3072KB , MAXSIZE = 102400KB ,FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BlogDB_log', FILENAME = N'D:\BlogDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
USE [BlogDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/15/2011 21:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FGNEW]
) ON [FGNEW]
GO
/****** Object:  Table [dbo].[log]    Script Date: 10/15/2011 21:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[op] [char](3) NULL,
	[old_value] [nchar](100) NULL,
	[new_value] [nchar](100) NULL,
 CONSTRAINT [PK_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FGNEW]
) ON [FGNEW]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 10/15/2011 21:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[ID] [bigint] NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Themes]    Script Date: 10/15/2011 21:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Themes](
	[Author ID] [bigint] NOT NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Path] [nvarchar](250) NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Themes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 10/15/2011 21:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Admin ID] [bigint] NOT NULL,
	[Theme ID] [bigint] NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Slogan] [nvarchar](250) NOT NULL,
	[Url] [nvarchar](100) NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/15/2011 21:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Blog ID] [bigint] NOT NULL,
	[Parent ID] [bigint] NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [bigint] NOT NULL,
	[Slug] [bigint] NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 10/15/2011 21:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Blog ID] [bigint] NOT NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Slug] [nvarchar](50) NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 10/15/2011 21:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Blog ID] [bigint] NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Blog ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 10/15/2011 21:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Blog ID] [bigint] NOT NULL,
	[User ID] [bigint] NOT NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Status] [bigint] NOT NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FGNEW]
) ON [FGNEW]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 10/15/2011 21:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Post ID] [bigint] NOT NULL,
	[User ID] [bigint] NOT NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FGNEW]
) ON [FGNEW]
GO
/****** Object:  ForeignKey [FK_Authors_Users]    Script Date: 10/15/2011 21:36:17 ******/
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD  CONSTRAINT [FK_Authors_Users] FOREIGN KEY([ID])
REFERENCES [dbo].[Users] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Authors] CHECK CONSTRAINT [FK_Authors_Users]
GO
/****** Object:  ForeignKey [FK_Themes_Authors]    Script Date: 10/15/2011 21:36:17 ******/
ALTER TABLE [dbo].[Themes]  WITH CHECK ADD  CONSTRAINT [FK_Themes_Authors] FOREIGN KEY([Author ID])
REFERENCES [dbo].[Authors] ([ID])
GO
ALTER TABLE [dbo].[Themes] CHECK CONSTRAINT [FK_Themes_Authors]
GO
/****** Object:  ForeignKey [FK_Blogs_Admins]    Script Date: 10/15/2011 21:36:17 ******/
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_Admins] FOREIGN KEY([Admin ID])
REFERENCES [dbo].[Users] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blogs_Admins]
GO
/****** Object:  ForeignKey [FK_Blogs_Themes]    Script Date: 10/15/2011 21:36:17 ******/
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_Themes] FOREIGN KEY([Theme ID])
REFERENCES [dbo].[Themes] ([ID])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blogs_Themes]
GO
/****** Object:  ForeignKey [FK_Categories_Blogs]    Script Date: 10/15/2011 21:36:17 ******/
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Blogs] FOREIGN KEY([Blog ID])
REFERENCES [dbo].[Blogs] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Blogs]
GO
/****** Object:  ForeignKey [FK_Categories_Categories]    Script Date: 10/15/2011 21:36:17 ******/
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories] FOREIGN KEY([Parent ID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories]
GO
/****** Object:  ForeignKey [FK_Tags_Blogs]    Script Date: 10/15/2011 21:36:17 ******/
ALTER TABLE [dbo].[Tags]  WITH CHECK ADD  CONSTRAINT [FK_Tags_Blogs] FOREIGN KEY([Blog ID])
REFERENCES [dbo].[Blogs] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tags] CHECK CONSTRAINT [FK_Tags_Blogs]
GO
/****** Object:  ForeignKey [FK_Settings_Blogs]    Script Date: 10/15/2011 21:36:17 ******/
ALTER TABLE [dbo].[Settings]  WITH CHECK ADD  CONSTRAINT [FK_Settings_Blogs] FOREIGN KEY([Blog ID])
REFERENCES [dbo].[Blogs] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Settings] CHECK CONSTRAINT [FK_Settings_Blogs]
GO
/****** Object:  ForeignKey [FK_Posts_Blogs]    Script Date: 10/15/2011 21:36:17 ******/
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Blogs] FOREIGN KEY([Blog ID])
REFERENCES [dbo].[Blogs] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Blogs]
GO
/****** Object:  ForeignKey [FK_Comments_Posts]    Script Date: 10/15/2011 21:36:17 ******/
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Posts] FOREIGN KEY([Post ID])
REFERENCES [dbo].[Posts] ([ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Posts]
GO
/****** Object:  ForeignKey [FK_Comments_Users]    Script Date: 10/15/2011 21:36:17 ******/
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([User ID])
REFERENCES [dbo].[Users] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
USE [blogdb]
GO
/****** Object:  Index [Blogs1]    Script Date: 11/18/2011 07:51:16 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Blogs1] ON [dbo].[Blogs] 
(
	[Name] ASC,
	[Title] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [Blogs2]    Script Date: 11/18/2011 07:53:31 ******/
CREATE NONCLUSTERED INDEX [Blogs2] ON [dbo].[Blogs] 
(
	[Admin ID] ASC,
	[Theme ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [cat1]    Script Date: 11/18/2011 07:54:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [cat1] ON [dbo].[Categories] 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [cat2]    Script Date: 11/18/2011 07:55:07 ******/
CREATE NONCLUSTERED INDEX [cat2] ON [dbo].[Categories] 
(
	[Blog ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [Comm1]    Script Date: 11/18/2011 07:55:55 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Comm1] ON [dbo].[Comments] 
(
	[Title] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [Comm2]    Script Date: 11/18/2011 07:56:00 ******/
CREATE NONCLUSTERED INDEX [Comm2] ON [dbo].[Comments] 
(
	[Post ID] ASC,
	[User ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [post1]    Script Date: 11/18/2011 07:58:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [post1] ON [dbo].[Posts] 
(
	[Title] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [post2]    Script Date: 11/18/2011 07:58:31 ******/
CREATE NONCLUSTERED INDEX [post2] ON [dbo].[Posts] 
(
	[Blog ID] ASC,
	[User ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [tag1]    Script Date: 11/18/2011 07:59:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [tag1] ON [dbo].[Tags] 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [tag2]    Script Date: 11/18/2011 07:59:59 ******/
CREATE NONCLUSTERED INDEX [tag2] ON [dbo].[Tags] 
(
	[Blog ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [them1]    Script Date: 11/18/2011 08:01:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [them1] ON [dbo].[Themes] 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [them2]    Script Date: 11/18/2011 08:01:21 ******/
CREATE NONCLUSTERED INDEX [them2] ON [dbo].[Themes] 
(
	[Author ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  Index [user]    Script Date: 11/18/2011 08:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [user] ON [dbo].[Users] 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]
GO
USE [blogdb]
GO
/****** Object:  StoredProcedure [dbo].[adduser]    Script Date: 11/18/2011 07:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[adduser] 
@Username nvarchar(50),
@Password nvarchar(50),

@Email nvarchar(100),
@Status tinyint 
AS
BEGIN
	insert into Users (Username , Password , Email , Status) values (@Username ,EncryptByPassPhrase('123456789' , @Password) , @Email , @Status);
END
GO
USE [blogdb]
GO
/****** Object:  Trigger [dbo].[add_chang]    Script Date: 11/17/2011 11:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[add_chang] on [dbo].[Users] for update
as
declare @old_value nvarchar(50)
declare @new_value nvarchar(50)
set @old_value = (select deleted.Password from deleted)
set @new_value = (select inserted.Password from inserted)
insert into log (date , op , old_value , new_value) values (getdate(),'upd' ,@old_value , @new_value)
GO
USE [msdb]
GO
/****** Object:  Job [full backup blogdb]    Script Date: 11/18/2011 07:30:45 ******/
BEGIN TRANSACTION
DECLARE @ReturnCode INT
SELECT @ReturnCode = 0
/****** Object:  JobCategory [[Uncategorized (Local)]]]    Script Date: 11/18/2011 07:30:45 ******/
IF NOT EXISTS (SELECT name FROM msdb.dbo.syscategories WHERE name=N'[Uncategorized (Local)]' AND category_class=1)
BEGIN
EXEC @ReturnCode = msdb.dbo.sp_add_category @class=N'JOB', @type=N'LOCAL', @name=N'[Uncategorized (Local)]'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback

END

DECLARE @jobId BINARY(16)
EXEC @ReturnCode =  msdb.dbo.sp_add_job @job_name=N'full backup blogdb', 
		@enabled=1, 
		@notify_level_eventlog=0, 
		@notify_level_email=0, 
		@notify_level_netsend=0, 
		@notify_level_page=0, 
		@delete_level=0, 
		@description=N'No description available.', 
		@category_name=N'[Uncategorized (Local)]', 
		@owner_login_name=N'A42F_A52F_X52F\ASUS', @job_id = @jobId OUTPUT
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
/****** Object:  Step [full backup blogdb]    Script Date: 11/18/2011 07:30:46 ******/
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'full backup blogdb', 
		@step_id=1, 
		@cmdexec_success_code=0, 
		@on_success_action=1, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'backup database blogdb
to disk = ''D:\full backup blogdb''
with
name = ''full backup blogdb''
', 
		@database_name=N'BlogDB', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_update_job @job_id = @jobId, @start_step_id = 1
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobschedule @job_id=@jobId, @name=N'weekly', 
		@enabled=1, 
		@freq_type=8, 
		@freq_interval=32, 
		@freq_subday_type=1, 
		@freq_subday_interval=0, 
		@freq_relative_interval=0, 
		@freq_recurrence_factor=1, 
		@active_start_date=20111111, 
		@active_end_date=99991231, 
		@active_start_time=60000, 
		@active_end_time=235959
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobserver @job_id = @jobId, @server_name = N'(local)'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
COMMIT TRANSACTION
GOTO EndSave
QuitWithRollback:
    IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
EndSave:
GO
USE [msdb]
GO
/****** Object:  Job [diff backup blogdb]    Script Date: 11/18/2011 07:32:35 ******/
BEGIN TRANSACTION
DECLARE @ReturnCode INT
SELECT @ReturnCode = 0
/****** Object:  JobCategory [[Uncategorized (Local)]]]    Script Date: 11/18/2011 07:32:35 ******/
IF NOT EXISTS (SELECT name FROM msdb.dbo.syscategories WHERE name=N'[Uncategorized (Local)]' AND category_class=1)
BEGIN
EXEC @ReturnCode = msdb.dbo.sp_add_category @class=N'JOB', @type=N'LOCAL', @name=N'[Uncategorized (Local)]'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback

END

DECLARE @jobId BINARY(16)
EXEC @ReturnCode =  msdb.dbo.sp_add_job @job_name=N'diff backup blogdb', 
		@enabled=1, 
		@notify_level_eventlog=0, 
		@notify_level_email=0, 
		@notify_level_netsend=0, 
		@notify_level_page=0, 
		@delete_level=0, 
		@description=N'No description available.', 
		@category_name=N'[Uncategorized (Local)]', 
		@owner_login_name=N'A42F_A52F_X52F\ASUS', @job_id = @jobId OUTPUT
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
/****** Object:  Step [diff backup blogdb]    Script Date: 11/18/2011 07:32:35 ******/
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'diff backup blogdb', 
		@step_id=1, 
		@cmdexec_success_code=0, 
		@on_success_action=1, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'backup database blogdb
to disk = ''D:\diff backup blogdb''
with
name = ''diff backup blogdb'',differential', 
		@database_name=N'BlogDB', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_update_job @job_id = @jobId, @start_step_id = 1
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobschedule @job_id=@jobId, @name=N'daily', 
		@enabled=1, 
		@freq_type=4, 
		@freq_interval=1, 
		@freq_subday_type=1, 
		@freq_subday_interval=0, 
		@freq_relative_interval=0, 
		@freq_recurrence_factor=0, 
		@active_start_date=20111111, 
		@active_end_date=99991231, 
		@active_start_time=60000, 
		@active_end_time=235959
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobserver @job_id = @jobId, @server_name = N'(local)'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
COMMIT TRANSACTION
GOTO EndSave
QuitWithRollback:
    IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
EndSave:
Go
use [master]
Go
CREATE LOGIN [admin] WITH PASSWORD=N'123', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=ON, CHECK_POLICY=ON
Go
use [master]
Go
CREATE LOGIN [user] WITH PASSWORD=N'123', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=ON, CHECK_POLICY=ON
Go
use [blogdb]
Go
CREATE ROLE [userrole] AUTHORIZATION [dbo]
Go
USE [BlogDB]
GO
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
USE [BlogDB]
GO
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
USE [BlogDB]
GO
GRANT INSERT ON [dbo].[Users] TO [userrole]
GO
DENY UPDATE ON [dbo].[Users] ([ID]) TO [userrole]
GO
DENY UPDATE ON [dbo].[Users] ([Username]) TO [userrole]
GO
GRANT UPDATE ON [dbo].[Users] ([Password]) TO [userrole]
GO
DENY UPDATE ON [dbo].[Users] ([Email]) TO [userrole]
GO
DENY UPDATE ON [dbo].[Users] ([Status]) TO [userrole]
GO
GRANT ALTER ON [dbo].[Posts] TO [userrole]
GO
GRANT CONTROL ON [dbo].[Posts] TO [userrole]
GO
GRANT DELETE ON [dbo].[Posts] TO [userrole]
GO
GRANT INSERT ON [dbo].[Posts] TO [userrole]
GO
GRANT REFERENCES ON [dbo].[Posts] TO [userrole]
GO
GRANT SELECT ON [dbo].[Posts] TO [userrole]
GO
GRANT TAKE OWNERSHIP ON [dbo].[Posts] TO [userrole]
GO
GRANT UPDATE ON [dbo].[Posts] TO [userrole]
GO
GRANT VIEW DEFINITION ON [dbo].[Posts] TO [userrole]
GO
GRANT ALTER ON [dbo].[Comments] TO [userrole]
GO
GRANT CONTROL ON [dbo].[Comments] TO [userrole]
GO
GRANT DELETE ON [dbo].[Comments] TO [userrole]
GO
GRANT INSERT ON [dbo].[Comments] TO [userrole]
GO
GRANT REFERENCES ON [dbo].[Comments] TO [userrole]
GO
GRANT SELECT ON [dbo].[Comments] TO [userrole]
GO
GRANT TAKE OWNERSHIP ON [dbo].[Comments] TO [userrole]
GO
GRANT UPDATE ON [dbo].[Comments] TO [userrole]
GO
GRANT VIEW DEFINITION ON [dbo].[Comments] TO [userrole]




