.cssHints {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #0000ff; FONT-FAMILY: Verdana
}
A.cssActionLinks {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.cssLinkSeparator {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.cssTableBorder {
	BORDER-RIGHT: red 1px solid; BORDER-TOP: red 1px solid; BORDER-LEFT: red 1px solid; BORDER-BOTTOM: red 1px solid
}
.cssTabHead {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT: bold 12px/20px Verdana; BORDER-LEFT: #999999 1px solid; COLOR: #003366; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: center
}
.cssTabHead1 {
	BORDER-RIGHT: #999999 0px solid; BORDER-TOP: #999999 0px solid; FONT: bold 12px/20px Verdana; BORDER-LEFT: #999999 0px solid; COLOR: #003366; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #d1e6fa
}
.cssLabelHead1 {
	BORDER-RIGHT: #999999 0px solid; BORDER-TOP: #999999 1px solid; FONT: bold 12px/20px Verdana; BORDER-LEFT: #999999 1px solid; COLOR: #003366; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: right
}
.cssLabelHead2 {
	BORDER-RIGHT: #999999 0px solid; BORDER-TOP: #999999 1px solid; FONT: bold 12px/20px Verdana; BORDER-LEFT: #999999 0px solid; COLOR: #003366; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: center
}
.cssLabelHead3 {
	BORDER-RIGHT: #999999 0px solid; BORDER-TOP: #999999 0px solid; FONT: bold 12px/20px Verdana; BORDER-LEFT: #999999 0px solid; COLOR: #003366; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: right
}
.cssLabelHead4 {
	BORDER-RIGHT: #999999 0px solid; BORDER-TOP: #999999 0px solid; FONT: 10px/20px Verdana; BORDER-LEFT: #999999 0px solid; COLOR: #003366; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: right
}
.cssLabelHead {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT: 10px/20px Verdana; BORDER-LEFT: #999999 0px solid; COLOR: #003366; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: right
}
.cssTabBack {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.cssFrameTabBack {
	BACKGROUND-COLOR: #f7f7f7
}
.cssTreeback {
	BORDER-RIGHT: #999999 1px solid
}
.cssinnerTabBack {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: 1px; BORDER-LEFT: 1px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #f7f7f7
}
.cssSubTabHead {
	FONT: 11px/10px Verdana; COLOR: #003366; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: center
}
.cssSelectedRow {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003366; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: silver; TEXT-ALIGN: left; FONT-VARIANT: normal
}
.cssSubTabBack {
	BORDER-RIGHT: #e7e7e7 1px solid; BORDER-TOP: #e7e7e7 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #e7e7e7 1px solid; COLOR: black; LINE-HEIGHT: 12px; BORDER-BOTTOM: #e7e7e7 1px solid; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.cssGridHead {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; COLOR: #003366; BORDER-BOTTOM: #999999 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: center; FONT-VARIANT: normal
}
.cssGridText {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; COLOR: black; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.cssGridAlternateText {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; FONT-SIZE: 11px; BORDER-LEFT: #000000 0px solid; COLOR: black; BORDER-BOTTOM: #000000 0px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #e2e2e2; TEXT-ALIGN: left
}
.cssRecordSeperator {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #999999
}
.cssjourney {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.cssjourneylink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.cssjourneylink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.cssjourneylink:active {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.cssjourneylink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ff4500; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.cssjourneylinkactive {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.cssjourneylinkdefault {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.skin0 {
	BORDER-RIGHT: black 2px solid; BORDER-TOP: black 2px solid; VISIBILITY: hidden; BORDER-LEFT: black 2px solid; WIDTH: 100px; CURSOR: default; LINE-HEIGHT: 20px; BORDER-BOTTOM: black 2px solid; FONT-FAMILY: Verdana; POSITION: absolute; BACKGROUND-COLOR: menu; TEXT-ALIGN: left
}
.skin1 {
	BORDER-RIGHT: buttonhighlight 2px outset; BORDER-TOP: buttonhighlight 2px outset; FONT-SIZE: 8pt; VISIBILITY: hidden; BORDER-LEFT: buttonhighlight 2px outset; WIDTH: 100px; CURSOR: default; BORDER-BOTTOM: buttonhighlight 2px outset; FONT-FAMILY: verdana, sans-serif; POSITION: absolute; HEIGHT: 1px; BACKGROUND-COLOR: menu; TEXT-ALIGN: left
}
.cssPanel {
	BORDER-RIGHT: #595959 2px solid; BORDER-TOP: #595959 2px solid; BORDER-LEFT: #595959 2px solid; BORDER-BOTTOM: #595959 2px solid; BACKGROUND-COLOR: #e6e6e6
}
.csstextall {
	FONT: 10px/14px verdana,arial,helvetica; COLOR: black; TEXT-ALIGN: justify
}
.csssmalltext {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: verdana, sans-serif
}
.cssHyplnk {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: underline
}
.cssLinkButton {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0000ff; BORDER-BOTTOM: #d1e6fa 1px solid; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: underline
}
.cssHWandSWHyplnk {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #b0a090; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: underline
}
.cssLabel {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: none
}
.cssTxtBx {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: verdana,arial,helvetica
}
.cssTab {
	BORDER-RIGHT: #d1e6fa 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; FONT-SIZE: xx-small; BORDER-LEFT: #d1e6fa 1px solid; COLOR: #000000; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: verdana,arial,helvetica; BACKGROUND-COLOR: #d1e6fa; TEXT-DECORATION: none
}
.cssTabBtn {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; COLOR: #003366; BORDER-BOTTOM: #d1e6fa 1px solid; FONT-FAMILY: verdana,arial,helvetica; BACKGROUND-COLOR: #d1e6fa; TEXT-DECORATION: underline
}
.cssLastTab {
	BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: white
}
.cssTabBtnBack {
	BACKGROUND-COLOR: transparent
}
.cssBtn {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: 1px outset; COLOR: black; LINE-HEIGHT: 18px; BORDER-BOTTOM: 1px outset; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: none
}
.cssBtnNext {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: 1px outset; COLOR: black; LINE-HEIGHT: 18px; BORDER-BOTTOM: 1px outset; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: none
}
.cssBtnPrevious {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: 1px outset; COLOR: black; LINE-HEIGHT: 18px; BORDER-BOTTOM: 1px outset; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: none
}
.cssDrpDwnLst {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: verdana,arial,helvetica
}
.cssChkBx {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: none
}
.cssLnkBtn {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: verdana,arial,helvetica
}
.cssHperLnkBtn {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: verdana,arial,helvetica
}
.cssChkBxLst {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: verdana,arial,helvetica
}
.cssRad {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: none
}
.cssLstBx {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: verdana,arial,helvetica
}
.cssCaption {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: verdana,helvetica
}
.cssSmallCaption {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: verdana,helvetica
}
.cssMessage {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #009900; FONT-FAMILY: Verdana
}
.cssPrompt {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #0000ff; FONT-FAMILY: Verdana
}
.cssError {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: Verdana
}
HR {
	WIDTH: 100%; COLOR: #999999; HEIGHT: 1px
}
.cssBorder {
	BORDER-RIGHT: #999999 1px solid
}
BODY {
	BACKGROUND-COLOR: #d6dfe7
}
BODYBanner {
	BACKGROUND-COLOR: #006699
}
.cssGenHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #006699; FONT-FAMILY: Verdana
}
.cssPaging {
	FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
A.logout:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: underline
}
A.logout:active {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: underline
}
A.logout:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: underline
}
A.logout:hover {
	COLOR: red
}
A.caption:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #336699; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: underline
}
A.caption:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #336699; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: underline
}
A.caption:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #336699; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: underline
}
A.caption:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: underline
}
A.Homecaption:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #336699; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: underline
}
A.Homecaption:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #336699; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: underline
}
A.Homecaption:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #336699; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: underline
}
A.Homecaption:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: underline
}
.nav {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: white; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: none
}
.username {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: verdana,helvetica; TEXT-DECORATION: none
}
.colhead1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: verdana,helvetica; BACKGROUND-COLOR: #d3d6de; TEXT-DECORATION: none
}
.colhead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: verdana,helvetica; BACKGROUND-COLOR: #c9c9c9; TEXT-DECORATION: none
}
.colheading {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: verdana,helvetica; BACKGROUND-COLOR: #c9c9c9; TEXT-DECORATION: none
}
.frbg {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana,helvetica; BACKGROUND-COLOR: #e6e6e6; TEXT-DECORATION: none
}
.tithead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: verdana,arial,helvetica; BACKGROUND-COLOR: #595959; TEXT-DECORATION: none
}
.all {
	FONT: 12px/14px normal Arial, Helvetica, sans-serif; COLOR: black; TEXT-ALIGN: justify
}
.cssTabCtrlBack {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 0px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #e7e7e7 1px solid; BACKGROUND-COLOR: #e7e7e7
}
.cssBorder {
	BORDER-RIGHT: #999999 0px solid; BORDER-TOP: #d1e6fa 1px solid; BORDER-LEFT: #d1e6fa 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #d1e6fa
}
.clsContentText {
	PADDING-LEFT: 11px; FONT-SIZE: x-small; FONT-FAMILY: verdana
}
.clsTab {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #999999 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #d1e6fa
}
.clsTabSelected {
	BORDER-RIGHT: #999999 0px solid; BORDER-TOP: gray 1px solid; FONT-WEIGHT: bold; FONT-SIZE: xx-small; BORDER-LEFT: #999999 0px solid; COLOR: black; BORDER-BOTTOM: #f7f7f7 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #f7f7f7; TEXT-DECORATION: none
}
A.clsTabLink {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; CURSOR: default; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.clsTabLinkSelected {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; CURSOR: default; COLOR: black; TEXT-DECORATION: none
}
A.clsTabLinkSelected:hover {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; CURSOR: default; COLOR: black; TEXT-DECORATION: none
}
A.clsTabLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; CURSOR: hand; COLOR: red; TEXT-DECORATION: none
}
A.clsMoreLink {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; TEXT-DECORATION: none
}
.cssTabpage {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 0px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.cssTabpageNew {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.cssSelectedLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
SPAN.cssGeneralLink {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.cssSelectedAction {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ff4500; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.cssGeneralLink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.cssGeneralLink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.cssGeneralLink:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.cssGeneralLink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff4500; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.cssHomePageLink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.cssHomePageLink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.cssHomePageLink:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.cssHomePageLink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff4500; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.SubHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.TabContents {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ececff
}
.Text {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; VERTICAL-ALIGN: super; COLOR: #005380; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.TabOutline {
	BORDER-RIGHT: #003399 1px solid; BORDER-TOP: #003399 1px solid; BORDER-LEFT: #003399 1px solid; BORDER-BOTTOM: #003399 1px solid
}
.FormTable {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: #999999 1px solid; COLOR: black; LINE-HEIGHT: normal; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana; LETTER-SPACING: normal; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: left
}
.FormTableTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: left; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.otherBoxTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.Table {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: #999999 1px solid; COLOR: black; LINE-HEIGHT: normal; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana; LETTER-SPACING: normal; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: left
}
.TableHeader {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: navy; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #d1e6fa; FONT-VARIANT: normal
}
.TableTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: left; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.PageHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; VERTICAL-ALIGN: baseline; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff; FONT-VARIANT: normal
}
.PageSubHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: silver; FONT-VARIANT: normal
}
.NormalText {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana
}
.TableFooter {
	FONT-SIZE: 8pt; COLOR: gray; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.PlainTable {
	FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; COLOR: black; LINE-HEIGHT: normal; FONT-FAMILY: Verdana; LETTER-SPACING: normal; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: left
}
.button {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: 1px ridge; WIDTH: 70px; CURSOR: hand; COLOR: black; BORDER-BOTTOM: 1px ridge; FONT-STYLE: normal; FONT-FAMILY: verdana,arial,helvetica; LETTER-SPACING: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #d6dfe7; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.MsgOk {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #009900; FONT-FAMILY: Verdana
}
.MsgInfo {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #0000ff; FONT-FAMILY: Verdana
}
.MsgErr {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: Verdana
}
.DF_RT {
	FONT-SIZE: 7pt; COLOR: cornflowerblue; FONT-FAMILY: Verdana; LETTER-SPACING: 1px
}
.DF_RT_ForApp {
	FONT-SIZE: 8pt; COLOR: gray; FONT-FAMILY: Verdana; LETTER-SPACING: 1px
}
.TableRunning {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: #999999 1px solid; COLOR: black; LINE-HEIGHT: normal; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana; LETTER-SPACING: normal; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffc0c0; TEXT-ALIGN: left
}
.TextBox {
	FONT-SIZE: 8pt; COLOR: black; BORDER-TOP-STYLE: groove; FONT-FAMILY: Verdana; BORDER-RIGHT-STYLE: groove; BORDER-LEFT-STYLE: groove; BORDER-BOTTOM-STYLE: groove
}
.CssQuestionBankHyperLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: underline
}
.cssReportTabHead {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT: bold 12px/20px Verdana; BORDER-LEFT: #999999 1px solid; COLOR: #003366; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: center
}
.cssReportMainHead {
	FONT: bold 12px/20px Verdana; COLOR: #003366; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: center
}
.cssReportSubTabHead {
	FONT: 11px/12px Verdana; COLOR: #003366; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: center
}
.cssReportItemHead {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10px; BORDER-LEFT: #999999 1px solid; COLOR: #003366; BORDER-BOTTOM: #999999 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #d1e6fa; TEXT-ALIGN: center; FONT-VARIANT: normal
}
.cssReportText {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; COLOR: black; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.cssReportEvaluation {
	FONT: bold 14px/20px Verdana; COLOR: red; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
.cssTableBorder {
	BORDER-LEFT-COLOR: gainsboro; BORDER-BOTTOM-COLOR: gainsboro; BORDER-TOP-COLOR: gainsboro; BORDER-RIGHT-COLOR: gainsboro
}
.cssAdaptiveCorrect {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; COLOR: black; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #ceffce; TEXT-ALIGN: left
}
.cssAdaptiveWrong {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; COLOR: black; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #ffdead; TEXT-ALIGN: left
}
.cssAdaptiveCurrent {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; COLOR: black; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #f0ffff; TEXT-ALIGN: left
}
.cssAdaptriveQuestionText {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: verdana,helvetica
}
.cssProgress {
	BORDER-RIGHT: red 0px solid; BORDER-TOP: red 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: red 0px solid; COLOR: #003366; BORDER-BOTTOM: red 0px solid; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
.CssDisplayLabel {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003366; FONT-STYLE: normal; FONT-FAMILY: Verdana; FONT-VARIANT: normal
}
A.cssMenulink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: super; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.cssMenulink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: super; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.cssMenulink:active {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: super; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.cssMenulink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.cssMenuTable {
	BACKGROUND-COLOR: #006699
}
.cssBanner {
	BACKGROUND-COLOR: #006699
}
.cssReportBorder {
	BACKGROUND-COLOR: #d1e6fa
}
