USE [my_data]
GO
/****** Object:  Table [dbo].[WeightTerms]    Script Date: 06/06/2015 05:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeightTerms](
	[IdWeight] [int] IDENTITY(1,1) NOT NULL,
	[IdDoc] [int] NOT NULL,
	[Weight] [float] NOT NULL,
 CONSTRAINT [PK_WeightTerms] PRIMARY KEY CLUSTERED 
(
	[IdWeight] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VectorEnglish]    Script Date: 06/06/2015 05:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VectorEnglish](
	[IDVector] [int] IDENTITY(1,1) NOT NULL,
	[Terms] [nvarchar](max) NOT NULL,
	[Vector] [int] NOT NULL,
 CONSTRAINT [PK_VectorEnglish] PRIMARY KEY CLUSTERED 
(
	[IDVector] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnglishDictionary]    Script Date: 06/06/2015 05:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnglishDictionary](
	[TermID] [int] NOT NULL,
	[Term] [nvarchar](max) NOT NULL,
	[Ndoc] [int] NOT NULL,
	[CollFreq] [int] NOT NULL,
 CONSTRAINT [PK_EnglishDictionary] PRIMARY KEY CLUSTERED 
(
	[TermID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentValue]    Script Date: 06/06/2015 05:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentValue](
	[ID_doc] [int] IDENTITY(1,1) NOT NULL,
	[doc_name] [nvarchar](max) NOT NULL,
	[doc_value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DocumentValue] PRIMARY KEY CLUSTERED 
(
	[ID_doc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArabicDictionary]    Script Date: 06/06/2015 05:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArabicDictionary](
	[TermID] [int] NOT NULL,
	[Term] [nvarchar](max) NOT NULL,
	[Ndoc] [int] NOT NULL,
	[CollFreq] [int] NOT NULL,
 CONSTRAINT [PK_ArabicDictionary] PRIMARY KEY CLUSTERED 
(
	[TermID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[DeleteDoc]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDoc]
	
AS
DELETE FROM DocumentValue
GO
/****** Object:  StoredProcedure [dbo].[CountDoc]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CountDoc]

AS
	SELECT        COUNT(doc_name) AS Expr1
FROM            DocumentValue
GO
/****** Object:  Table [dbo].[ArabicPosting]    Script Date: 06/06/2015 05:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArabicPosting](
	[IDP] [int] IDENTITY(1,1) NOT NULL,
	[TermID] [int] NOT NULL,
	[DocID] [int] NOT NULL,
	[TermFreq] [int] NOT NULL,
 CONSTRAINT [PK_ArabicPosting] PRIMARY KEY CLUSTERED 
(
	[IDP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddWeight]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddWeight]
@IdDoc int,
@Weight float
AS
INSERT INTO WeightTerms (IdDoc, Weight) VALUES (@IdDoc, @Weight)
GO
/****** Object:  StoredProcedure [dbo].[AddVectorEnglish]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddVectorEnglish]
@Terms nvarchar(50) ,
@Vector int
AS
INSERT INTO VectorEnglish (Terms, Vector) VALUES (@Terms, @Vector)
GO
/****** Object:  StoredProcedure [dbo].[AddValueDoc]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddValueDoc]
@doc_name nvarchar(10),
@doc_value nvarchar(MAX)
AS
INSERT INTO DocumentValue (doc_name, doc_value) VALUES (@doc_name, @doc_value)
GO
/****** Object:  StoredProcedure [dbo].[deleteVectorWeight]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deleteVectorWeight]

AS
	
DELETE FROM WeightTerms
GO
/****** Object:  StoredProcedure [dbo].[DeleteVectorEnglish]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteVectorEnglish]

AS
	DELETE FROM VectorEnglish
GO
/****** Object:  StoredProcedure [dbo].[GetDocName]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDocName]

AS
SELECT        doc_name
FROM            DocumentValue
GO
/****** Object:  Table [dbo].[EnglishPosting]    Script Date: 06/06/2015 05:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnglishPosting](
	[IDP] [int] IDENTITY(1,1) NOT NULL,
	[TermID] [int] NOT NULL,
	[DocID] [int] NOT NULL,
	[TermFreq] [int] NOT NULL,
 CONSTRAINT [PK_EnglishPosting] PRIMARY KEY CLUSTERED 
(
	[IDP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddDictionaryEnglish]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDictionaryEnglish]
@TermID int ,
@Term nvarchar(50) ,
@Ndoc int ,
@CollFreq int
AS
INSERT INTO EnglishDictionary (TermID, Term, Ndoc, CollFreq) VALUES (@TermID, @Term, @Ndoc, @CollFreq)
GO
/****** Object:  StoredProcedure [dbo].[AddDictionaryArabic]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDictionaryArabic]
@TermID int ,
@Term nvarchar(50) ,
@Ndoc int ,
@CollFreq int
AS
INSERT INTO ArabicDictionary (TermID, Term, Ndoc, CollFreq) VALUES (@TermID, @Term, @Ndoc, @CollFreq)
GO
/****** Object:  StoredProcedure [dbo].[GetDocValue]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDocValue]
@doc_name nvarchar(MAX)
AS
SELECT        doc_name, doc_value
FROM            DocumentValue
WHERE        (doc_name = @doc_name)
GO
/****** Object:  StoredProcedure [dbo].[GetTermFreqAllEnglish]    Script Date: 06/06/2015 05:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTermFreqAllEnglish]
@Term nvarchar(50)
AS

SELECT        Ndoc
FROM            EnglishDictionary
WHERE        (Term = @Term)
GO
/****** Object:  StoredProcedure [dbo].[GetTermFreqAllArabic]    Script Date: 06/06/2015 05:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTermFreqAllArabic]
@Term nvarchar(50)
AS

SELECT        Ndoc
FROM            ArabicDictionary
WHERE        (Term = @Term)
GO
/****** Object:  StoredProcedure [dbo].[getWordList2]    Script Date: 06/06/2015 05:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getWordList2]

AS
SELECT        Term
FROM            ArabicDictionary
GO
/****** Object:  StoredProcedure [dbo].[getWordList]    Script Date: 06/06/2015 05:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getWordList]
	
AS
SELECT        Term
FROM            EnglishDictionary
GO
/****** Object:  StoredProcedure [dbo].[GetVectorWeight]    Script Date: 06/06/2015 05:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVectorWeight]
@id int
AS
SELECT        IdDoc, Weight
FROM            WeightTerms
WHERE        (IdDoc = @id)
GO
/****** Object:  StoredProcedure [dbo].[GetVectorEnglishForTerm]    Script Date: 06/06/2015 05:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVectorEnglishForTerm]
@term nvarchar(50)
AS

SELECT        Vector
FROM            VectorEnglish
WHERE        (Terms = @term)
GO
/****** Object:  StoredProcedure [dbo].[GetTerms]    Script Date: 06/06/2015 05:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTerms]
@IDdoc int
AS
	SELECT        EnglishDictionary.Term
FROM            EnglishDictionary INNER JOIN
                         EnglishPosting ON EnglishDictionary.TermID = EnglishPosting.TermID
WHERE        (EnglishPosting.DocID = @IDdoc)
GO
/****** Object:  StoredProcedure [dbo].[GetPostingEnglish]    Script Date: 06/06/2015 05:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPostingEnglish]
@docId int
AS
SELECT        EnglishDictionary.Term 
FROM            EnglishDictionary INNER JOIN
                         EnglishPosting ON EnglishDictionary.TermID = EnglishPosting.TermID
WHERE        (EnglishPosting.DocID = @docId)
GO
/****** Object:  StoredProcedure [dbo].[GetPostingArabic]    Script Date: 06/06/2015 05:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPostingArabic]
@docId int
AS
SELECT        ArabicDictionary.Term
FROM            ArabicDictionary INNER JOIN
                         ArabicPosting ON ArabicDictionary.TermID = ArabicPosting.TermID
WHERE        (ArabicPosting.DocID = @docId)
GO
/****** Object:  StoredProcedure [dbo].[GetFreqTermEnglish]    Script Date: 06/06/2015 05:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFreqTermEnglish]
@Term nvarchar (50) ,
@IDdoc int	
AS
SELECT        EnglishPosting.TermFreq, EnglishPosting.DocID, EnglishDictionary.Term
FROM            EnglishDictionary INNER JOIN
                         EnglishPosting ON EnglishDictionary.TermID = EnglishPosting.TermID
WHERE        (EnglishDictionary.Term = @Term) AND (EnglishPosting.DocID = @IDdoc)
GO
/****** Object:  StoredProcedure [dbo].[GetFreqTermArabic]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFreqTermArabic]
@Term nvarchar (50) ,
@IDdoc int	
AS
SELECT        ArabicPosting.TermFreq, ArabicPosting.DocID, ArabicDictionary.Term
FROM            ArabicDictionary INNER JOIN
                         ArabicPosting ON ArabicDictionary.TermID = ArabicPosting.TermID
WHERE        (ArabicDictionary.Term = @Term) AND (ArabicPosting.DocID = @IDdoc)
GO
/****** Object:  StoredProcedure [dbo].[getdocresultenglish]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getdocresultenglish]
@docId int ,
@term nvarchar (20)
AS
	SELECT        EnglishDictionary.Term, EnglishPosting.DocID
FROM            EnglishDictionary INNER JOIN
                         EnglishPosting ON EnglishDictionary.TermID = EnglishPosting.TermID
WHERE        (EnglishDictionary.Term = @term) AND (EnglishPosting.DocID = @docId)
GO
/****** Object:  StoredProcedure [dbo].[getdocresultarabic]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getdocresultarabic]
@docId int ,
@term nvarchar (20)	
AS
	SELECT        ArabicDictionary.Term, ArabicPosting.DocID
FROM            ArabicDictionary INNER JOIN
                         ArabicPosting ON ArabicDictionary.TermID = ArabicPosting.TermID
WHERE        (ArabicDictionary.Term = @term) AND (ArabicPosting.DocID = @docId)
GO
/****** Object:  StoredProcedure [dbo].[DeleteIndexesEnglish]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteIndexesEnglish]

AS
	delete from EnglishPosting 

 delete from EnglishDictionary
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[DeleteIndexesArabic]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteIndexesArabic]

AS
delete from ArabicPosting 

 delete from ArabicDictionary
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[AddPostingEnglish]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPostingEnglish]
@TermID int,
@DocID int ,
@TermFreq int
AS
	
INSERT INTO EnglishPosting (TermID, DocID, TermFreq) VALUES (@TermID, @DocID, @TermFreq)
GO
/****** Object:  StoredProcedure [dbo].[AddPostingArabic]    Script Date: 06/06/2015 05:44:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPostingArabic]
@TermID int,
@DocID int ,
@TermFreq int
AS
	
INSERT INTO ArabicPosting (TermID, DocID, TermFreq) VALUES (@TermID, @DocID, @TermFreq)
GO
/****** Object:  ForeignKey [FK_ArabicPosting_ArabicDictionary]    Script Date: 06/06/2015 05:44:07 ******/
ALTER TABLE [dbo].[ArabicPosting]  WITH CHECK ADD  CONSTRAINT [FK_ArabicPosting_ArabicDictionary] FOREIGN KEY([TermID])
REFERENCES [dbo].[ArabicDictionary] ([TermID])
GO
ALTER TABLE [dbo].[ArabicPosting] CHECK CONSTRAINT [FK_ArabicPosting_ArabicDictionary]
GO
/****** Object:  ForeignKey [FK_EnglishPosting_EnglishDictionary]    Script Date: 06/06/2015 05:44:07 ******/
ALTER TABLE [dbo].[EnglishPosting]  WITH CHECK ADD  CONSTRAINT [FK_EnglishPosting_EnglishDictionary] FOREIGN KEY([TermID])
REFERENCES [dbo].[EnglishDictionary] ([TermID])
GO
ALTER TABLE [dbo].[EnglishPosting] CHECK CONSTRAINT [FK_EnglishPosting_EnglishDictionary]
GO
