<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AWPConnectionString" connectionString="Data Source=.;Initial Catalog=AWP;Persist Security Info=True;User ID=sa;Password=sqladmin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.AnalysisServices.AdomdClient, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <pages theme="Theme1" maintainScrollPositionOnPostBack="true"/>
  </system.web>
</configuration>